* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

$title: 'Poppins', sans-serif;
$titleSub: 'Open Sans', sans-serif;

$degradador: linear-gradient(90deg, #1d2830 0%, #171F25 100%);


$color-bg: #1E272E;
$color-bgc: #171F25;
$color-bgcard: #192229;
$color-text: #8E9BA4;
$color-txtitle: #978360;


body {
    background: $color-bg;

}

.home {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 3rem;
        font-family: $title;
        color: $color-txtitle;
    }

    h3 {
        font-size: 1.4rem;
        font-family: $titleSub;
        color: $color-txtitle;
        font-weight: 300;
        padding: 10px 20px;
    }

    h4 {
        font-size: 1rem;
        font-family: $title;
        color: $color-text;
        font-weight: 300;
    }

    h5 {
        font-size: 1rem;
        font-family: $title;
        color: $color-text;
        font-weight: 300;
    }

    p {
        font-size: 1rem;
        font-family: $titleSub;
        color: $color-text;
    }

    span {
        font-family: $titleSub;
        font-size: .9rem;
        color: $color-text;
    }

    ul {
        padding: 10px;

        li {
            font-family: $titleSub;
            list-style: circle;
            color: $color-text;
            font-size: .8rem;
        }
    }


    .homeconte {
        width: 90%;
        height: 90%;
        background: $color-bgc;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        border-radius: 20px;

        //componetes del menú 

        .homesibar {
            width: 15%;
            height: 100%;
            position: relative;

            .homemenu {
                width: 90%;
                margin: 10px auto;

                background: $color-bgc;


                .homeclip {
                    width: 80%;
                    margin: 20px auto;
                    height: 30vh;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    button {
                        width: 100%;
                        height: 40px;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        border-radius: 20px 0px 0px 20px;
                        background: $color-bgc;



                        &:hover {
                            background-image: $degradador;
                        }

                        img {
                            width: 24px;
                            height: 24px;
                            margin: 0px 5px 0px 20px;
                            filter: invert(50%);
                        }

                    }
                }

                .homeredes {
                    width: 90%;
                    position: absolute;
                    bottom: 30px;
                    left: 30px;

                    .homeredeCont {
                        width: 80%;
                        display: flex;
                        flex-wrap: wrap;

                        img {
                            filter: invert(50%);
                        }

                        .homenavrede {
                            width: 20px;
                            height: 20px;
                            margin: 0px 5px;


                        }
                    }
                }

            }
        }

        //componetes del contenido

        .homeconatiner {
            width: 85%;
            height: 100%;
            background: $color-bgc;
            display: flex;
            justify-content: center;
            align-items: center;

            .homepages {
                width: 96%;
                height: 94%;
                position: relative;



                .inico {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    border-radius: 20px;

                    p {
                        position: absolute;
                        bottom: 255px;
                        left: calc(100% / 4);
                    }

                    h3 {
                        position: absolute;
                        bottom: 265px;
                        left: calc(100% / 4.25);
                    }

                    h1 {
                        position: absolute;
                        bottom: 300px;
                        left: calc(100% / 4);
                    }



                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        bottom: 0px;
                        z-index: 1;
                        opacity: 1%;
                        filter: invert (0.6%);
                        border-radius: 20px;


                    }
                }
            }

            .perfil {
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;

                .perfilinformacion {
                    width: 80%;

                    .perfilsobre {
                        width: 90%;

                        p {
                            font-size: 11pt;
                            font-weight: 500;
                            padding: 10px;
                        }

                    }

                    .perfilexpconten {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 20px;

                        .perfilexpecia {
                            width: 40%;

                        }

                    }

                }

                .perfilformationuser {
                    width: 20%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    border-radius: 20px;

                    .perfimg {
                        width: 100%;

                        .perfiimgcon {
                            width: 150px;
                            margin: auto;

                            img {
                                width: 100%;
                                object-fit: cover;
                            }

                        }
                    }

                    .perfskills {
                        width: 80%;
                        margin: auto;
                    }
                }
            }

            .proyect {
                width: 100%;

                .proyectConte {
                    width: 90%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;

                    .proyectocard {
                        width: 32%;
                        height: 330px;
                        background: $color-bgcard;
                        padding: 20px;
                        border-radius: 20px;
                        position: relative;

                        img{
                            border-radius: 20px;
                        }

                        p{
                            overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        }
                        a{
                            position: absolute;
                            bottom: 15px;
                            padding: 5px;
                            width: 100px;
                            background: $color-txtitle;
                            color: $color-bgc;
                            border-radius: 20px;
                            text-align: center;
                            font-family: $titleSub;
                            text-decoration: none;
                            font-size: 10pt;
                        }
                    }
                }
            }

            .formation{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                width: 100%;

                .formainst{
                    width: 96%;
                    margin: auto;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;

                    .forminscard{
                        width:  30%;
                        margin: auto;
                        background: #1d2830;
                        padding: 20px;
                        border-radius: 20px;
                        
                        
                        .formacarimg{
                        display: flex;
                        justify-content: space-between;

                        img{
                            width: 100px;
                            filter:  invert(50%);
                        }

                        .formaporce{
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            position: relative;
                            background: $color-txtitle;

                            .formaporcenter{
                                width: 60%;
                                height: 60%;
                                left: 19%;
                                bottom: 19%;
                                position: absolute;
                                border-radius: 50%;
                                background: $color-bg;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                span{
                                    display: flex;
                                }
                            }


                        }

                        }

                        .formacarname{
                            display: flex;
                            flex-direction: column;
                            gap: 2px;
                            position: relative;

                            h4,h5{
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }


                            button{
                                width: 100px;
                                height: 30px;
                                border-radius: 20px;
                                outline: none;
                                border: none;
                                background: $color-txtitle;
                                position: absolute;
                                right: 5px;
                                bottom: 5px;
                            }
                        }
                        
                    }
                }

                .formacerti{
                    width: 100%;
                    height: 56vh;
                
                    .ciberError{
                        text-align: center;
                        justify-content: center;

                    }
                    .aluraCon{
                        display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    margin: auto;

                        .aluraCocard{
                            width: 25%;
                           height: 80%;

                        img{
                            width: 100%;
                            object-fit: cover;
                            border-radius: 20px;
                        }
                            
                        }
                    }
                
                 .nextCon{

                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;

                    .nextCocard{
                        width: 25%;
                        height: 30%;

                        img{
                            width: 100%;
                            object-fit: cover;
                            border-radius: 20px;
                        }

                    }
                }
                }
            }


        }
    }

}